################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/PSIOCpp/.vs/PSIO/v17
/PSIOCpp/.vs/PSIO/FileContentIndex
/PSIOCpp/Lab01/x64/Debug
/PSIOCpp/x64/Debug
*.filters
*.user
*.vcxproj
*.tlog
*.recipe
*.ilk
*.log
*.obj
*.idb
*.pdb
/build-*
